<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="row">
    <div class="col-xs-4">
      <img src="../../assets/img/Feria Virtual.png" alt="" class="img-nav">
    </div>
    <div class="row middle-xs">
      <div class="col-xs-12">
        <div class="box">
          <h1 class="tit-nav">Feria Virtual</h1>
        </div>

      </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/productos']">Productos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/login']" class="btn btn-outline-primary">Login</a></li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.usuario.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <button (click)="logout()" class="dropdown-item" type="submit">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
