<div class="row center-xs">
    <div class="col-xs-12">
    </div>
</div>



<div class="row center-xs">
    <div class="col-xs-10 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/frutas1.jpg" class="card-img-top" alt="Frutas">
            <div class="card-body">
                <h5 class="card-title">Productos de Calidad</h5>
                <p class="card-text">El mejor servicio a la puerta de tu casa.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/canasta.jpg" class="card-img-top" alt="Frutas">
            <div class="card-body">
                <h5 class="card-title">Vende Tus Productos</h5>
                <p class="card-text">Crea tu cuenta y comienza a vender.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/handshake.jpg" class="card-img-top" alt="Frutas">
            <div class="card-body">
                <h5 class="card-title">Transporte Seguro</h5>
                <p class="card-text">Coordina con los transportistas la entrega de los productos.</p>
            </div>
        </div>
    </div>
</div>
